[Unit]
Description=Proxy Docker Server Discover
After=network.target

[Service]
User=root
Restart=always
WorkingDirectory=/root/pdsd
ExecStart=/root/pdsd/pdservice/pdsd conf/pdservice.properties

[Install]
WantedBy=multi-user.target
