[Unit]
Description=Proxy Docker Server Discover
After=network.target

[Service]
User=pds
Restart=always
WorkingDirectory=/home/pds
ExecStart=/home/pds/pdservice/service conf/pdservice.properties

[Install]
WantedBy=multi-user.target
