[Unit]
Description=Proxy Docker Server Discover
After=network.target

[Service]
User=pdsd
Restart=always
WorkingDirectory=/home/pdsd
ExecStart=/home/pdsd/pdservice/pdsd conf/pdservice.properties

[Install]
WantedBy=multi-user.target
